NEXT_PUBLIC_SITE_URL=https://benchfinity.com
NEXT_PUBLIC_WORKBENCH_URL=https://workbench.benchfinity.com
NEXT_PUBLIC_NOTIFY_URL=https://discord.gg/R3sc8fWJMJ
NEXT_PUBLIC_DISCORD_URL=https://discord.gg/R3sc8fWJMJ
NEXT_PUBLIC_SPONSOR_URL=
NEXT_PUBLIC_PRIVACY_EMAIL=privacy@benchfinity.com
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
